@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  --clr-body-bg-1:hsl(222, 26%, 31%);
  --clr-main-bg-1:hsl(223, 31%, 20%);
    
  --clr-screen-bg-1:hsl(224, 36%, 15%);
  
  --clr-key-bg-primary:hsl(30, 25%, 89%);
  --clr-key-bg-secondary:hsl(225, 21%, 49%);
  --clr-key-bg-tertiary:hsl(6, 63%, 50%);

  --clr-key-shadow-primary:hsl(28, 16%, 65%);
  --clr-key-shadow-secondary:hsl(224, 28%, 35%);
  --clr-key-shadow-tertiary:hsl(6, 70%, 34%);


  --clr-text-primary:hsl(221, 14%, 31%);
  --clr-text-secondary:hsl(0, 0%, 100%);


  --border-radius-primary:1.25rem;
}

/* CSS reset section */
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "League Spartan", sans-serif;
  /* overflow: hidden; */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Default template */
.hidden {
  display: none;
}



  
  body{
    background-color: var(--clr-body-bg-1);
    padding: 1.5rem;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading{
    /* background-color: black; */
    padding: 2px;
    width: 100%;
    color: var(--clr-text-secondary);
    height: 100px;
    
  }
  h1{
    transform: translateY(25px);
  }
  .control{
    float: right;
    transform: translateY(-30px);
    margin-right: 4.4rem;
  }
  .nums{
    display: flex;
    justify-content: flex-end;
    transform: translateY(-25px);
  }
  .nums::before{
    content: "";
    background-color: var(--clr-main-bg-1);
    width: 3.9rem;
    height: 20px;
    border-radius: 1rem;
    position: relative;
    top:1.45rem;
    left: 19.2%;
    
  }
  .theme{
    margin: 0 6px;
    cursor: pointer;
  }
  .theme:hover, .theme:focus{
    z-index: 1;
  }
  #theme-1::after{
    content: "";
    position: absolute;
    background-color:var(--clr-key-bg-tertiary) ;
    transform: translate(-9px, 26px);
    height: 13px;
    width: 13px;
    border-radius: 50%;
    z-index: -1;
  }
  #theme-2::after{
    content: "";
    position: absolute;
    background-color:var(--clr-key-bg-tertiary) ;
    transform: translate(-9px, 26px);
    height: 13px;
    width: 13px;
    border-radius: 50%;
    z-index: -1;
  }
  #theme-3::after{
    content: "";
    position: absolute;
    background-color:var(--clr-key-bg-tertiary) ;
    transform: translate(-9px, 26px);
    height: 13px;
    width: 13px;
    border-radius: 50%;
    z-index: -1;
  }
  .screen{
    margin: 1rem 0;
    width: 330px;
  }
  #screen{
    background-color: var(--clr-screen-bg-1);
    width: 100%;
    height: 100px;
    border: 0;
    outline: none;
    border-radius: 10px;

    color: var(--clr-text-secondary);
    font-size: 32px;
    text-align: right;
    padding: 0 1rem;
  }
  .btn{
    
    background-color: var(--clr-main-bg-1);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 1rem;
    width: 330px;
    margin: 1rem ;
  }
  button{
    color: var(--clr-text-primary);
    background-color: var(--clr-key-bg-primary);
    font-size: 23px;
    outline: none;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px var(--clr-key-shadow-primary);
    width:3.6rem;
    height: 3.5rem;
    padding: 1rem;
    margin: 8px 8px;
  }
  .reset, .equals{
    width: 130px;
  }
  .reset,.delete{
    color: white;
    background-color:var(--clr-key-bg-secondary) ;
    box-shadow: 0px 5px 0px 0px var(--clr-key-shadow-secondary);
  }
  .equals{
    color: var(--clr-text-secondary);
    background-color:var(--clr-key-bg-tertiary) ;
    box-shadow: 0px 5px 0px 0px var(--clr-key-shadow-tertiary);
  }
  @media (min-width:376px) {
    .heading{
      width: 400px;
    }
    .nums::before{
      top:1.45rem;
      left: 15.5%;
    }
    .screen{
      width: 400px;
    }
    .btn{
      width: 400px;
    }
    button{
      font-size: 28px;
      width: 4.5rem;
      height: 3.1rem;
      margin: 10px 10px;
    }
    .reset, .equals{
      width: 164px;
    }
    
  }